<h2><%= @event.title %></h2>
<p><%= @event.description %></p>
<span><%=@event.location%>, <%=@event.date%></span>
<p>Created By: <%= link_to @event.creator.name, @event.creator %></p>
<h3>List of Attendees</h3>
<% @event.attendees.each do |attendee| %>
<p><%= link_to attendee.name, attendee %></p>

<% end %>
